:root {
    --primary-color: rgb(185 200 234);
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;

    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("../images/home-gradient.png");
    background-size: cover;
}

button {
    background-color: #9FC3E9;
    padding: 1rem;
    border: none;
}

section {
    padding:1rem;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--primary-color);
    }
}

.container {
    margin-top: 6rem;

    display: flex;
    text-align: center;
    justify-content: center; /*Centering the Text for section and article*/
}

.con-2 {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 2rem;
    background-color: #F5F5F5;
}

.c2-imgs {
    height: 100px;
}

.con-2 section {
    width: 50%;
}

.con-3 {

    display: flex;
    justify-content: space-between;
    padding: 10rem;

    align-items: center;
}

.con-3 section {
    width: 50%; /*THIS IS WHAT MESSES UP THE MOBILE LAYOUT, NEED TO USE COLUMN OR SOMETHING MEDIA QUERY*/

}



.stats {
    margin-top: 1rem;
    display: flex;
    text-decoration: none;
    list-style: none;

    justify-content: space-evenly;
    font-size: 42px;
}

.s-info {
    font-size: 14px;
    justify-content: space-evenly;
    
}

.nav {

    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    display: flex;
    gap: 20px; 
    align-content: center;
}

.big-bold {
    font-family: REM;
    font-size: 64px;
    margin-bottom: 2rem;
}

.p-info {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.inputBox {
    margin-top: 3rem;
    padding: 1rem;
    color:white;

    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    
}

.app-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.app-btn {
    display: flex;
    
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    
    &:hover {
        background-color: #84B7E8;
    }

    &:active {
        background-color: #6D9AD5;
    }
}
  
.app-btn img {
    margin-right: 10px;
}
  


@media (max-width: 1000px) { 
    .container {
        flex-direction: column;
        justify-content: start; 
      }
      
    body {
        padding: 0; 
    }
    
    main > section:first-child {
        width: 100%; 
    }

    .big-bold {
        font-size: 44px;
    }

    .p-info {
        width: 100%;
    }

    .con-2 section {
        width: 100%;
    }

    .con-2 {
        flex-direction: column;
    }


  }

@media (max-width: 499px) { /*Iphone SE,XR,12 Pro?*/
    button {
        margin: 0;
    }

    .inputBox {
        padding: 1rem;
        width: 160px;
    }



}

@media (max-width: 380px) {

    button {
        margin: 0;
    }

    .inputBox {
        padding: 1rem;
        width: 140px;
    }
}